
 @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

 
.projects{
    background: black;
     padding: 180px 20px 20px 20px;
     margin-bottom: 30px;
  }
  .projects h3,
  .projects p
  {
      color: #fff;
  }
  
  .workBx{
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
      max-width: 100%;
      margin-top: 100px;
  }
  .workBx .projectDemo{
      position: relative;
      background-image: radial-gradient(circle at top right, rgb(145, 8, 41) 0%, rgb(145, 8, 41) 22%,rgb(156, 9, 37) 22%, rgb(156, 9, 37) 38%,rgb(167, 9, 34) 38%, rgb(167, 9, 34) 39%,rgb(178, 10, 30) 39%, rgb(178, 10, 30) 43%,rgb(188, 10, 26) 43%, rgb(188, 10, 26) 64%,rgb(199, 11, 22) 64%, rgb(199, 11, 22) 96%,rgb(210, 11, 19) 96%, rgb(210, 11, 19) 99%,rgb(221, 12, 15) 99%, rgb(221, 12, 15) 100%);
      border-radius: 8px;
      min-height: 250px;
      width: 200px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      transition: all 1s cubic-bezier(.25,.8,.25,1);
     
  }
  .workBx .projectDemo
  {
      opacity: 0;
      transform: translateY(+20px);
      transform: scale(0.8);
  
  }
  
  .workBx .projectDemo[data-scroll="in"]
  {
      transition-delay: 0.6s;
      transform: translateY(0);
      opacity: 1;
      transform: scale(1);
  }
  
  .workBx .projectDemo .contentWork h2,
  .workBx .projectDemo .contentWork p
  {
      color: #fff;
      text-align: left;
      padding-top: 15px;
      padding-bottom: 10px;
      padding-left: 10px;
  }
  .workBx .projectDemo .contentWork p
  {
      font-size: 13px;
      padding-top: 5px;
      padding-bottom: 70px;
      padding-left: 10px;
  }
  .workBx .projectDemo .contentWork h2
  {
      padding-top: 15px;
      padding-bottom: 5px;
      padding-left: 10px;
  }
  
  
  
  .workBx .projectDemo:hover{
      
      transform: scale(1.1);
      
  }
  
  .workBx .projectDemo a{
      text-decoration: none;
      color: rgba(0,0,0,0.8);
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      background: #fff;
      width: 60px;
      height: 25px;
      padding: 8px 20px;
      border-radius: 16px;
      
  }
  
  .workBx .projectDemo a:hover{
      color: #000; 
  }